/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set a background color for the entire page */
body {
  font-family: Arial, sans-serif;
  background-color: #f1f0e8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Center the calculator */
.calc {
  max-width: 400px; /* Increase the max-width for a bigger calculator */
  padding: 20px;
  background-color: #222;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 20px; /* Increase border-radius for rounded edges */
}

/* Style the result input field */
.result {
  width: 100%;
  padding: 15px;
  font-size: 32px;
  border: none;
  outline: none;
  text-align: right;
  background-color: #222;
  color: white;
}

/* Style the buttons */
button {
  width: 60px;
  height: 60px;
  font-size: 24px;
  border: none;
  border-radius: 50%;
  background-color: #f2f2f2;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

/* Style the clear and operator buttons differently */
.clear {
  background-color: #ff6868;
  color: white;
}

.operator {
  background-color: #f5923e;
  color: white;
  padding: 0 10px; /* Add padding to operator buttons */
}

/* Add hover effect to buttons */
button:hover {
  background-color: #d6d6d6;
}

/* Add custom styling for the "0" button */
.num.line_5 {
  padding: 0px 25px; /* Increase padding for the "0" button */
}
